/*=====VARIABLES=====*/
:root{ 
	--primary: #07889b; 
	--secondary: #e69f2c;
	--backup: #dce4e5;
}

/*=====DOC=====*/
html, body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/*=====HEADER=====*/
header{
    background-color: var(--primary);
    height: 4em;
    width: 100%;
    
}
h1{
    color: var(--backup);
    font-weight: lighter;
    height: 100%;
    width: 20%;
    margin: auto;
    vertical-align: middle;
}